body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    box-sizing: border-box;
}


.events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event img {
    width: 30%;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.event-info {
    flex: 1;
}

.event h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.event p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.event button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.event button.sold-out {
    background-color: #dc3545;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .events {
        flex-direction: column;
        align-items: center;
    }

    .event {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    .event img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .event-info {
        text-align: center;
    }
}
